html {
	height: 100%;
	width: 100%;
	background: white;
	display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

body {
	height: 95%;
	width: 97.5%;
}

/**
 * Tablet Styles
 **/
@media only screen and (max-width: 1000px) {
	.content {
		overflow: scroll;
	}

	.shows {
		display: none;
	}

	.desktop-socials {
		display: none;
	}

	.mobile-socials {
		display: flex !important;
		z-index: 1;
		justify-content: center;
	}

	.mobile-socials .row {
		display: flex;
		justify-content: center;
	}

	.mobile-socials .row i {
		margin:  10px;
	}

	.logo {
		width: 55% !important;
		margin: 0 auto 25px auto !important;
	}

	.buy-listen-button {
		width: 40% !important;
		margin: 25px auto !important;
	}

	.buy-listen-button a {
		font-size: 3vw !important;
	}

	.youtube {
		width:  55% !important;
		margin: 25px auto !important;
	}

	.tour-button {
		font-size: 3vw !important;
		width: 40% !important;
		margin: 25px auto !important;
		display: flex !important;
		background: white;
		color: black;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 250px;
		width: 20%;
		margin: 20px auto;
		padding: 20px;
		height: 25px;
	}
}

/** 
 * Global Styles
**/

.sky {
	height: 95%;
	width: 97.5%;
	position: absolute;
  background-size: cover;
	background-image: url('../img/background.jpeg');
  z-index: 1;
  opacity: 50%;
}

.content {	
	background-color: black;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
	position: relative;
	height: 100%;
}

.featured {
  height: 80%;
  padding: 0;
  margin: 0;
  display: block;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
}

.logo {
  width: 25%;	
  margin: 0 auto 50px auto;
}

.logo img {
	animation: fadeIn ease 1s;
	width: 100%;
}

.buy-listen-button {
	display: flex;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  width: 20%;
  margin: 20px auto;
  padding: 20px;
  height: 25px;
}

.buy-listen-button a {
	border-radius: 0px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 1vw;
	margin: 1.5vw auto;
	color: black;
  animation: fadeIn ease 1s;
  transition: transform .2s;
}

.title-text {
	position: relative;
  margin-top: 5px;
  padding-left: 4px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.youtube {
	width: 25%;
	margin: 20px auto;
	border: 5px white solid;
}

.mobile-socials {
	display: none;
}

.desktop-socials {
  animation-delay: 2s;
  animation: fadeIn ease 1s;
  margin: 15px;
  position: absolute;
  right: 10px;
  bottom: 0;
	width: 20px;
	text-align: center;
	align-items: center;
	justify-content: center;
  z-index: 100;
}

i {
	border-radius: 25px;
	background: #e2e2e2;
	color: black;
	padding: 10px;
	margin: 7px auto;
	width: 33px;
	height: 33px;
  animation: fadeIn ease 1s;
  transition: transform .2s;
}

.shows {
	background: white;
  position: absolute;
  z-index: 1;
  padding: 10px;
  border-radius: 20px;
  color: black;
  top: 20px;
  left: 20px;
}

.shows:hover { 
	text-decoration: none; 
	cursor:  pointer;
}

.clearfix {
	clear: both;
}

.tour-button {
	display: none;
}

i:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

a:hover {
  transform: scale(1.1); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}